In [ ]:
# Q1
import random

num=int(input("Enter the number of cards you want to draw: "))

drawn_cards=[]

def draw_cards(num_cards):
  deck=[]
  values=["A","2","3","4", "5", "6", "7", "8", "9", "10", "J", "Q", "K"]
  suits=["H", "D", "S", "C"]
  for v in values:
    for s in suits:
      deck.append(v+s)

  for i in range(num_cards):
    card = random.choice(deck)
    drawn_cards.append(card)
    deck.remove(card)

  return tuple(drawn_cards)


draw_cards(num)

Enter the number of cards you want to draw: 6

('8H', 'QC', '8D', '6S', 'JH', '10H')

In [ ]:
# Q2

from functools import reduce

def sum_square_not_divisible_by_3(lis):
    square_list = map(lambda i: i**2, lis)
    filtered_list = filter(lambda i: i % 3 != 0, square_list)
    return reduce(lambda i, j: i + j, filtered_list)


sum_square_not_divisible_by_3([1,2,3,5,6,10])

130

In [ ]:
# Q3

to_cur = str(input("Please enter the currency converting to: ")).upper()

amount_of_money = float(input("Please eneter the amount of money: "))

def convert_currency(amount_of_money, to_cur):
    conversion_rates = {
    "AUD":1.5409,
    "BGN":1.9558,
    "BRL":5.6165,
    "CAD":1.4423,
    "CHF":0.989,
    "CNY":7.2992,
    "CZK":23.698,
    "DKK":7.4419,
    "GBP":0.88515,
    "HKD":8.4551,
    "HUF":385.8,
    "IDR":16280,
    "ILS":3.7576,
    "INR":88.89,
    "ISK":151.1,
    "JPY":140.8,
    "KRW":1355.38,
    "MXN":20.329,
    "MYR":4.6488,
    "NOK":10.9123,
    "NZD":1.6906,
    "PHP":58.659,
    "PLN":4.7388,
    "RON":4.8935,
    "SEK":11.139,
    "SGD":1.4237,
    "THB":36.013,
    "TRY":20.284,
    "USD":1.0771,
    "ZAR":19.0134
    }
    
    if to_cur not in conversion_rates:
        raise ValueError("Unsupported currency symbol")
    
    return amount_of_money * conversion_rates[to_cur]

result=convert_currency(amount_of_money, to_cur)

print( f"{amount_of_money} USD is {result} {to_cur}")

Please enter the currency converting to: cny
Please eneter the amount of money: 65
65.0 USD is 474.448 CNY

In [ ]:
# Q4
from functools import reduce

def number_to_word(n):
    words = {
        0: "zero",
        1: "one",
        2: "two",
        3: "three",
        4: "four",
        5: "five",
        6: "six",
        7: "seven",
        8: "eight",
        9: "nine",
        10: "ten",
        11: "eleven",
        12: "twelve",
        13: "thirteen",
        14: "fourteen",
        15: "fifteen",
        16: "sixteen",
        17: "seventeen",
        18: "eighteen",
        19: "nineteen",
        20: "twenty"
    }
    return words[n]

numbers = [18, 9, 14, 8, 6, 3, 7, 4, 19, 14, 4, 13, 12, 13, 14, 14, 14, 16, 10, 15, 11, 19, 15, 10, 11, 13, 14, 0, 0, 15, 5, 10, 8, 1, 10, 1, 7, 6, 20, 19, 3, 0, 12, 13, 13, 15, 13, 2, 7, 3, 5, 7, 19, 20, 11, 11, 16, 19, 12, 18, 12, 8, 16, 15, 1, 6, 9, 4, 4, 14, 5, 17, 12, 3, 10, 18, 2, 7, 12, 13, 4, 16, 10, 11, 15, 19, 15, 17, 14, 20, 0, 14, 6, 5, 7, 9, 1, 3, 1, 3, 8, 2, 6, 2, 14, 16, 3, 7, 12, 12, 3, 7, 6, 8, 15, 20, 4, 20, 11, 2]

string_versions = list(map(number_to_word, numbers))

len_characters = list(map(len, string_versions))

total_characters=reduce(lambda i,j: i+j, len_characters)

print(total_characters)

670

In [39]:
# Q5
def count_churned_period(listy):
  consecutive_0 = 0
  is_churned = False
  churns = 0
  churn_periods = []
  for i in listy:
      if i == 1:
          if consecutive_0 >= 10: churns += 1
          consecutive_0 = 0
      else:
          consecutive_0 += 1
      if consecutive_0  >=10:
          is_churned=True
          churn_periods.append(consecutive_0)
  return churns, max(churn_periods)


days = [0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,1,1,1,0,1,1,0,0,0,1,1,1,0,0,0,1,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,1,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,1,0,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,1,1,0,1,0,1,1,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1,0,1,0,0,1,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,1,1,0,0,1,0,0,1,1,0,0,0,0,1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,1,0,1,0,1,1,0,0,0,0,1,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,1,1,0,0,1,0,0,0,1,0,1,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,1,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,1,0,1,1,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0]

print(f"This customer was considered churned for {count_churned_period(days)[0]} distinct periods. The customer's longest period of churn is {count_churned_period(days)[1]} days")

This customer was considered churned for 17 distinct periods. The customer's longest period of churn is 35 days

In [48]:
#Q6
"""
Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.
"""
def sum_even_terms_in_fibonacci(limit):
  sum_term=0
  i=1
  j=2

  while j<=limit:
    if  j%2==0:
      sum_term+=j
    h=i+j
    i=j
    j=h
    

  return sum_term

x=sum_even_terms_in_fibonacci(4000000)
print(f"The sum of the even-valued terms in the Fibonacci sequence whose values do not exceed four million is {x}")

The sum of the even-valued terms in the Fibonacci sequence whose values do not exceed four million is 4613732